[submodule "themes/hugo-learn"]
	path = themes/hugo-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-theme-m10c"]
        path = themes/hugo-theme-m10c
        url = https://github.com/vaga/hugo-theme-m10c.git
